* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: var(--main-color);
  font-size: 12px;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --main-color: white;
  --secondary-color: #f2a201;
  --header3-size: 2.5em;
  --paragraph-text-size: 1.3em;
}

.banner {
  width: 80%;
  min-height: 50vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  .banner {
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 100%;
  }
}

@media screen and (max-width: 1824px) {
  .banner {
    justify-content: center;
  }
}

.banner .round {
  width: 430px;
  height: 430px;
  border-radius: 50%;
  background-color: var(--main-color);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.banner .round img {
  border-radius: 50%;
  height: 90%;
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .banner .round {
    width: 330px;
    height: 330px;
  }
}

.banner .col2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23%;
  margin-left: 2.5em;
  gap: 1em;
}

.banner .col2 h2 {
  font-size: 4.2em;
}

.banner .col2 h3 {
  font-size: 3.2em;
  width: 60%;
  opacity: 0.9;
}

.banner .col2 h4 {
  font-size: 2.2em;
  width: 75%;
  opacity: 0.8;
}

.banner .col2 p {
  font-size: 1.3em;
  opacity: 0.8;
}

.banner .col2 .box-rounded {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.banner .col2 .box-rounded .round {
  border-radius: 50%;
  background-color: var(--main-color);
  opacity: 0.9;
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-right: 5px;
}

.banner .col2 .box-rounded .active {
  background-color: yellow;
}

.banner .card-container {
  width: 45%;
  min-height: 370px;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.banner .card-container .card {
  margin-left: 5em;
  display: flex;
  align-items: center;
}

.banner .card-container .card .ball {
  border-radius: 50%;
  background-color: var(--main-color);
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .card-container .card .ball span {
  color: var(--secondary-color);
  font-size: 7em;
  font-weight: 900;
}

.banner .card-container .card .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-left: 2em;
}

.banner .card-container .card .content h3 {
  text-transform: uppercase;
  font-size: 2.9em;
}

.banner .card-container .card .content p {
  font-size: var(--paragraph-text-size);
}

.banner .card-container .more-info {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 25%;
}

.banner .card-container .more-info .text {
  font-size: 1.8em;
  font-weight: 1000;
}

.border {
  width: 60%;
  margin-left: 26%;
  border-bottom: var(--main-color) solid 1px;
}
